:root {
  --header-fonts: "Ibarra Real Nova","Time New Roman", serif;
  --header-color: #33323D;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Bold.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Public Sans", "Times New Roman", serif;
  font-weight: 400;
  margin: 0;
}
.container {
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Site Header  */
.site_header {
  padding-top: 64px;
  padding-bottom: 54px;
}

.header {
  display: flex;
  align-items: center;
}

/* Site Nav  */
.sitenav {
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  border: 3px solid transparent;
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}
.sitenav__list-item:hover {
color: #5FB4A2;
}
.sitenav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #9597A5;
}
.sitenav__link:hover {
  color: #5FB4A2;
}

/* Burger Nav  */
.burger-nav {
  border: none;
  background-color: transparent;
  margin-left: auto;
}



 /* Hero Section  */
 .site-hero {
   padding-bottom: 150px;
 }

 .hero {
   background-image: url(../img/hero-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 243px;
 }

 .hero-content {
   background-color: #FAFAFA;
   width: 445px;
   padding-top: 56px;
   padding-right: 56px;
 }

 .hero__heading {
   font-family: var(--header-fonts);
   font-weight: 700;
   font-size: 50px;
   line-height: 50px;
   letter-spacing: -0.446429px;
   margin-top: 0;
   margin-bottom: 53px;
 }

 .button__link {
   position: relative;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--header-color);
  color: #FFFFFF;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 24px;
  padding-left: 68px;
  display: inline-block;
 }
 .button__link::before {
   content: "";
   position: absolute;
   background-image: url(../img/hero-arrov-bottom.png);
   background-repeat: no-repeat;
   display: block;
   background-color: #fff;
   background-size: contain;
   background-color: transparent;
   width: 16px;
   height: 12px;
   /* padding: 22px; */
   top: 20px;
   left: 10px;
 }
  .button__link:hover {
    background-color: #5FB4A2;
    transition: 0.3s ease;
  }
  .button__link:active {
      background-color: #D2D8DB;
      transition: 0.3s ease;
    }


 /* About Section  */

.about {
  display: flex;
}


.about-content {
  margin-left: 125px;
  width: 350px;
}
.about-content::before {
  content: "";
  display: block;
  border-top: 1px solid #33323D;
  opacity: 0.15;
  padding-bottom: 50px;
}
.about-content::after {
  content: "";
  display: block;
  border-bottom: 1px solid #33323D;
  opacity: 0.15;
  padding-top: 78px;
}

.about__heading {
  font-family: var(--header-fonts);
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  margin-top: 0;
  margin-bottom: 28px;
}

.about__text {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
  color: var(--header-color);
  margin-top: 0;
  margin-bottom: 24px;
}

.button__white {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--header-color);
  border: 1px solid #33323D;
  padding: 17px 32px;
}

.button__white:hover {
  background-color: var(--header-color);
  color: #fff;
  transition: 0.3s ease;
}
.button__white:active {
  opacity: 0.8;
}

/* Contact Me  */
.site-contactme {
  padding-top: 150px;
  padding-bottom: 100px;
}

.cantactme {
  display: flex;
  align-items: center;
}

.contactme__heading {
  font-family: var(--header-fonts);
  font-weight: 700;
  color: var(--header-color);
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  margin-right: auto;
  max-width: 350px;
}
.hr {
  background-color: #33323D;
  opacity: 0.15;
}


/* Site Footer  */
.site-footer {
  background-color: var(--header-color);
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__list {
  display: flex;
  list-style: none;
}
.sitenav-footer {
margin-left: 48px;
margin-right: auto;
}

.sitenav__link-footer {
  color: #fff;
}
.sitenav__link-footer:hover {
  color: rgba(255, 255, 255, 0.795);
}
.sitenav__link-footer:active {
  color: rgba(255, 255, 255, 0.541);
}
.footer__item {}

.footer__item:not(:last-child) {
  margin-right: 16px;
}
.social-link {
  fill: #fff
}
.social-link:hover {
  fill: rgba(255, 255, 255, 0.815)
}
.social-link:active {
  fill: rgba(255, 255, 255, 0.555)
}

.about-link-blue {
  fill: #33323D;
}
.about-link-blue:hover {
  opacity: 0.8;
}
.about-link-blue:active {
  opacity: 0.6;
}

/* Media Nav  */
@media screen and (max-width: 500px) {
  .sitenav {
    display: none;
  }
  .footer .sitenav-footer {
    display: flex;
    flex-direction: row;
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 900px) {
  .man__img {
    /* width: 300px; */
  }
  .site-about .about {
    display: flex;
    flex-direction: row;
  }
  .site-contactme .cantactme {
    display: flex;
    flex-direction: row;
    }
}


@media only screen and (min-width: 501px) {
  .burger-nav {
    display: none;
  }
}

/* Medials  */
@media only screen and (max-width: 900px) {
   .hero {
     background-image: url(../img/hero-taplet-bg.png);
   }

}

/* Contact  */
.contact {

}

.contact__headiing {
  font-family: var(--header-fonts);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: var(--header-color);
}

.contact_text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 30px;
  color: var(--header-color);
  opacity: 0.8;
}

.about-link__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.about-link__item:not(:last-child) {
  margin-right: 16px;
}

.about-link-blue {

}

.contact::before {
  content: "";
  display: block;
  border-top: 1px solid #33323D;
  opacity: 0.15;
  padding-top: 50px;
}
.contact::after {
  content: "";
  display: block;
  border-top: 1px solid #33323D;
  opacity: 0.15;
  padding-bottom: 50px;
}


/* Form  */
.main-about {
  padding-bottom: 110px;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
}
.contact-hedimg {
  font-family: var(--header-fonts);
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: var(--header-color);
  margin-right: auto;
  margin-top: 0;
}
.map-item {

}

.input__wrapper {

}

.input {
  padding: 9px 16px;
  width: 635px;
  background-color: #E6E6E7;
  margin-top: 8px;
  margin-bottom: 8px;
}

.button__link {}

.submit__button {
  margin-top: 24px;
}